/*reset css*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;  
}

body {
  /*background-image: url('../img/fundo.jpg');*/
  /*background-color: rgba(64,103,118,1);*/
  background-color: rgba(184, 173, 160,1);
  background-size: auto 95vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; 
  min-height: 100vh;
}



header{
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  top: 0;
}

.menu{
  background-color: whitesmoke;
  position: fixed;
  width: 100vw;
  height: 5vh;
  top: 0;
}


.menu ul{
  display: flex;
  justify-content: space-around;
}

.menu li{
  list-style: none;
}

.menu a{
  color: black;
  display: block;
  padding: 0.3em;
  text-decoration: none;
  transition: color 1s;
}

a{
  color: teal;
  text-decoration: none;
}

.menu a:hover{
  background-color: rgb(204, 86, 18);
  color: whitesmoke;
}

a:hover{  
  font-size: 18px;
}

.img-title{
  object-fit: cover;  
  width: 84em;
  height: 25em;   
  object-position: top;
  object-position: left;
}

.site-title{
  color: black;
  text-align: center;
}

.site-subtitle{
  color:  black; 
  text-align: center; 
  font-family: 'Roboto', sans-serif;
}

.rodape-prin
{
  background-color:  whitesmoke;       
  clear: both;
  height: 6vh;      
  color: black;
  position: fixed;
  bottom: 0vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  
}

.rodape-prin span {
  float: left;  
  line-height: 7vh;  
}

.icones-sociais{
  margin-right: 1.5em;
}

.icones-sociais li
{
  display: inline-block;
  float: right;
  margin-top: 0.5em;    
}

.sobre{
  background-size: auto 95vh;
  padding: 2em;
  min-height: 100vh;
  gap: 1em;
}

.sobre h1{
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;  
}

.sobre .grid{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;  
  align-content: center;
  grid-template-columns: 150px;
  margin-top: 2em;  
}

/*
@media(min-width: 300px){
  .sobre .grid{
    grid-template-columns: repeat(2, 150px);
    grid-template-row: repeat(3 50px);
    justify-content: center;
  }
}

@media(min-width: 500px){
  .sobre .grid{
    grid-template-columns: repeat(2, 250px);
    grid-template-row: repeat(3 50px);
    justify-content: center;
  }
}

@media(min-width: 720px){
  .sobre .grid{
    grid-template-columns: repeat(2, 350px);
    grid-template-row: repeat(3 50px);
    justify-content: center;
  }
}*/

.img-sobre{
  flex: 1 0 100%;
  border-radius: 10px;
  height: 240px;
  object-fit: cover;
  width: 300px;
  margin-bottom: 1em; 
  grid-row: span 3;  
}
/*
@media(min-width: 500px){
  .img-sobre{
    border-radius: 10px;
    height: 350px;
    object-fit: cover;
    width: 250px;
    margin-bottom: 1em;   
  }
}

@media(min-width: 720px){
  .img-sobre{
    border-radius: 10px;
    height: 430px;
    object-fit: cover;
    width: 330px;
    margin-bottom: 1em;   
  }
}*/

.sobre h2{
  flex: 1 0 100%;
  color: black;  
  font-size: 1em;
  text-align: left;  
}

.sobre h3{
  flex: 1 0 100%;
  color: black;  
  font-size: 1em;
  text-align: left;  
}

.portfolio {
  background-size: auto 95vh;
  padding: 3em;
  min-height: 100vh;
}


/*.portfolio .grid{
  display: grid;
  gap: 1em;
  justify-content: center;  
  align-content: center;
}

@media(min-width: 500px){
  .portfolio .grid{
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
  }
}

@media(min-width: 720px){
  .portfolio .grid{
    grid-template-columns: repeat(2, 350px);
    align-content: center;
    justify-content: center;    
  }
}
*/

.portfolio .grid{
  display: grid;
  gap: 0.5em;
  justify-content: center;  
  align-content: center;
  grid-template-columns: 150px;
  margin-top: 2em;  
}

@media(min-width: 300px){
  .portfolio .grid{
    grid-template-columns: repeat(1, 250px);
    justify-content: center;
  }
}

@media(min-width: 500px){
  ..portfolio .grid{
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
  }
}

@media(min-width: 720px){
  .portfolio .grid{
    grid-template-columns: repeat(2, 350px);
    justify-content: center;
  }
}
.portfolio h2{
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  color:black;
}

.portfolio h3{
  color: black;  
  font-size: 1em;
  text-align: left; 
}

.portfolio figure{
  text-align: center;
}

.img-portfolio{
  border-radius: 10px;
  height: 250px;
  object-fit: cover;
  width: 250px;
  margin-bottom: 1em;
}

@media(min-width: 500px){
  .img-portfolio{
    border-radius: 10px;
    height: 350px;
    object-fit: cover;
    width: 250px;
    margin-bottom: 1em;   
  }
}

@media(min-width: 720px){
  .img-portfolio{
    border-radius: 10px;
    height: 430px;
    object-fit: cover;
    width: 330px;
    margin-bottom: 1em;   
  }
}
/*@media(min-width: 500px){
  .img-portfolio{
    height: 180px;
    width: 180px;      
  }
}

@media(min-width: 720px){
  .img-portfolio{
    height: 200px;
    width: 200px;      
  }
}*/

.portfolio figcaption {
  color: whitesmoke;
  font-weight: bold;
}

.contato{
  background-size: auto 95vh;
  text-align: center;
  min-height: 100vh;
  padding: 2em;
  
}

.contato h2{
  
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  color: black;  
}

.contato h3{
  margin-top: 12em;
  font-weight: bold;
  text-align: left; 
  line-height: 3;
  font-size: 15px;
  
}




